
.icon {
    font-size: $size-xl;
    margin: 5px;
}

.icon__footer {
    color: $secondary;
    padding-left: 5px;
    padding-right:5px;
}

.icon__para {
    color: $secondary;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}