@import "../theme/all.sass";
@import "../utilities/all.sass";

.portfolio {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media(max-width: $desktop){
    .portfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.portfolio__header {
    width: 100%;
}

.project {
    max-width: 47%;
    min-width: 400px;
    border: solid 2px $secondary;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(87, 65, 176, 0.692);
    background-color: $primary--grey;
    justify-items: flex-start;
}
.project--featured {
    max-width: 45%;
    min-width: 400px;
    border: solid 2px $secondary;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(87, 65, 176, 0.692);
    background-color: $primary--grey;
}

.project__img--featured {
    width: 100%;
    border: solid 1px $white;
    background-color: $white;
}
.project__imglink {
    grid-area: img;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.project__grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
        "org-role org-role"
        "description description"
        "tstack tstack"
        "links links";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.project__grid--featured {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img img"
    "title links"
        "org-role org-role"
        "description description"
        "tstack tstack";
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        align-items: center;
    }

.project__title {
    grid-area: title;
    line-height: 1;
    margin: 15px 0;
}
.project__title--featured {
    grid-area: title;
    line-height: 1;
    margin: 15px 0;
}
.project__title--featured:before {
    content: '>  ';
    color: $secondary;
    font-family: $mono;
}
.project__repo {
    color: $secondary;
    grid-area: links;
    margin: 0;
    align-content: right;
}
.project__repo--featured {
    color: $secondary;
    grid-area: links;
    justify-self: right;
    margin: 15px 0;
}
.project__repo-icon,
.project__repo-icon--featured {
    font-size: $size-lg;
    padding: 4px 4px 0 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.project__repo-icon:hover,
.project__repo-icon:focus,
.project__repo-icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.project__description {
    grid-area: description;
    margin: 0 0 10px 0;
    padding-bottom: 15px;
    border-bottom: 0.5px solid $white;
}
.project__description--featured {
    grid-area: description;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 0.5px solid $white;
}
.project__org-role {
    grid-area: org-role;
    margin: 0 0 10px 0;
    font-family: $condensed;
    font-weight: 700;
    font-size: $size-sm;
    color: $secondary
}
.project__org-role--featured {
    grid-area: org-role;
    margin: 0;
    padding: 5px 20px 0 20px;
    font-family: $condensed;
    font-weight: 700;
    font-size: $size-sm;
    color: $secondary
}
.project__tstack {
    grid-area: tstack;
    margin: 5px 0 15px;
    font-family: $mono;
    font-size: $size-xs;
    display: flex;
    flex-wrap: wrap;
}
.project__tstack--featured {
    grid-area: tstack;
    margin: 5px 0 15px;
    font-family: $mono;
    font-size: $size-xs;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.project__tstackitems, .project__tstackitems--featured {
    padding: 10px 15px 0 0;
}


@media (max-width: $tablet) {
    .project {
        margin: 20px auto;
        padding: 10px;
        max-width: 98%;
        min-width: 98%;
    }
    .project--featured {
        margin: 20px auto;
        max-width: 98%;
        min-width: 98%;
    }
}